<div class="container mt-4 text-center">
  <form [formGroup]="form" (ngSubmit)="submit()" class="mx-auto w-75 mb-4">
    <div class="form-group">
      <label>Título</label>
      <input #title type="text" class="form-control" formControlName="title" placeholder="Título">
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" formControlName="description" placeholder="Descripción" rows="5"></textarea>
    </div>
    <input type="hidden" formControlName="id">
    <button type="submit" class="btn btn-dark" [disabled]="this.form.status!='VALID'">Guardar</button>
  </form>
  <img src="../../../assets/logo/loguetelocura.png" alt="" class="mx-auto d-block" width="200px" height="200px">
</div>

