<div >
    <h1 class="bg-dark text-light">Sobre Nosotros...</h1>
    <h4 style="text-align: center;">Mi nombre es Sergio Cubero Carrera y soy estudiante de IES Francisco de los Rios,<br>
        actualmente en 2º del grado superior de DAM (desarrollo de aplicaciones multiplataforma).<br>
        Esta es una pagina web diseñada mediante angular disfrutala tete (^3^)
    </h4>
    <img src="../../../assets/logo/locura.jpg" alt="" class="mx-auto d-block" width="200px" height="400px" >
    <p style="text-align: center;">Aqui te dejo unas frases aleatorias de un rapero americano que OBVIAMENTE utiliza<br>
    El Notas para cuando tiene que recordar unos punchlines traviesos.<br>
    </p>
    <h6 style="text-align: center;">PD. Es mi primo </h6>
    <p style="text-align: center;">y dise er tio: {{mensaje}}</p>
</div>